<!DOCTYPE html>
<html lang="en">
    <head>
        {%include "page/gtm" %}
        {%include "page/meta" %}

        <!-- CSS styles -->
        {{ "/css/normalize.css" | stylesheet_tag: null, true }}
        {{ "/css/skeleton.css" | stylesheet_tag: null, true }}
        {{ "/css/font-awesome.min.css" | stylesheet_tag: null, true }}
        {{ "/css/index.css" | stylesheet_tag }}
        
        {{ "https://fonts.googleapis.com/css?family=Jura" | stylesheet_tag: nonce }}
        {{ "https://fonts.googleapis.com/css?family=Josefin+Sans" | stylesheet_tag: nonce }}
        <!--Font Awesome css load script-->
        {{ "js/fa.js" | javascript_tag: nonce, true }}
        {{ "js/three.min.js" | javascript_tag: nonce }}
        {{ "js/vanta.halo.min.js" | javascript_tag: nonce }}
        {{ "js/tweenMax.js" | javascript_tag: nonce, true }}

    </head>
    <body class="blue-green-gradient">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJS9W2J"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <div id="top"></div>
        <div id="badge-line"></div>
        <div id="badge">
            {{ content.badges }}
        </div>
        
        <div id="animation-vanta">
        </div>

        <section id="banner">
            {{ content.banner }}
        </section>
        <section id="who">
            <h2> Who </h2>
            {{ content.who }}
            <p>
                <a class="expander"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-who" class="more fadeOut">
                {{ content.who-more }}
            </div>
        </section>
        <section id="where">
            <div id="animation-wrap"></div>
            <h2> Where </h2>
            {{ content.where }}
            <p>
               <a class="expander"><i class="fa fa-arrow-down"> More</i></a>
           </p>
            <div id="more-where" class="more fadeOut">
                {{ content.where-more }}
            </div>
        </section>
        <section id="what">
            <h2> What </h2>
            {{ content.what }}
        </section>
              
        <section id="why">
            <h2> Why </h2>
            {{ content.why }}
            <p>
                <a class="expander"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-why" class="more fadeOut">
                {{ content.why-more }}
            </div>
        </section>

        <section id="footer">
            {{ content.footer }}
        </section>

        <!-- JS scripts -->   
        {{ "./js/index.js" | javascript_tag: nonce }}
        {{ "./js/animations.js" | javascript_tag: nonce, true }}
    </body>
</html>
