<!DOCTYPE html>
<html lang="en">
    <head>
        {{ content.gtm }}

        <!-- META -->
        <title>{{ page.meta.metaTitle }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
        <meta property="og:type" content="{{ page.meta.metaType }}" />
        <meta property="og:url" content="{{ page.meta.metaUrl }}" />
        <meta property="og:image" content="{{ page.meta.metaImage }}" />
        <meta property="og:title" content="{{ page.meta.metaTitle }}" />
        <meta property="og:description" content="{{ page.meta.metaDescription }}" />

        <!-- CSS styles -->
        {{ "/css/normalize.css" | stylesheet_tag }}
        {{ "/css/skeleton.css" | stylesheet_tag }}
        {{ "/css/index.css" | stylesheet_tag }}
        
        <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <!--Font Awesome css load script-->
        <script src="https://use.fontawesome.com/404ced7d8b.js"></script>

    </head>
    <body class="blue-green-gradient">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJS9W2J"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="top"></div>
        <div id="badge-line"></div>
        <div id="badge">
            {{ content.badges }}
        </div>
        <section id="banner">
            {{ content.banner }}
        </section>
        <section id="who">
            <h2> Who </h2>
            {{ content.who }}
            <p>
                <a class="expander" onclick="showBlock('#more-who', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-who" class="fadeOut" style="display: none;">
                {{ content.who-more }}
            </div>
        </section>
        <section id="where">
            <div id="animation-wrap"></div>
            <h2> Where </h2>
            {{ content.where }}
        </section>
        <section id="what">
            <h2> What </h2>
            {{ content.what }}
             <p>
                <a class="expander" onclick="showBlock('#more-what', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-what" class="fadeOut" style="display: none;">
                {{ content.what-more }}
            </div>
        </section>
              
        <section id="why">
            <h2> Why </h2>
            {{ content.why }}
            <p>
                <a class="expander" onclick="showBlock('#more-why', this)"><i class="fa fa-arrow-down"> More</i></a>
            </p>
            <div id="more-why" class="fadeOut" style="display: none;">
                {{ content.why-more }}
            </div>
        </section>

        <section id="footer">
            {{ content.footer }}
        </section>

        <!-- JS scripts -->   
        <script src="./js/index.js"></script>  
        <script src="./js/modernizr-2.0.6.js"></script>
        <script src="./js/animations.js"></script>  
    </body>
</html>
